release_packages
build/windows/Boulder_Debug*
build/windows/Boulder_Release*
build/windows/Debug*
build/windows/Release*
build/windows/fnt_comp_Debug*
build/windows/fnt_comp_Release*
build/windows/img_cut_Debug*
build/windows/img_cut_Release*
build/windows/MapEditor_Debug*
build/windows/MapEditor_Release*
build/windows/res_comp_Debug*
build/windows/res_comp_Release*
build/windows/zip_exec_Debug*
build/windows/zip_exec_Release*
build/windows/*.aps
build/windows/*.user
.vs
.cache
